/*todo cabecalho do codigo*/
.cabecalho{
  margin: 0px;
  padding: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #16151a;
  color: #faf9f9;
}

/*toda parte main do codigo*/
.principal{
  height: 100%;
  width: 100%;
  background-color: #868C83;
  text-align: center;
  padding-top: 1.5%;
  color: #FAF9F9;
}

/*campos de busca*/
#caixaPesquisa{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin-bottom: 0.1%;
  padding: 0.5%;
}

input{
  display: flex;
  width: 45%;
  padding: 0.5%;
  border-width: 2px;
  border-color: #1d3324;
  border-radius: 5px;
}

/*botao de pesquisa*/ 
#botaoBuscar{
  background-color: #2b643c;
  color: #faf9f9;
  white-space: normal;
  padding: 0.5%;
  border-color: black;
  border-radius: 10%;
}

#botaoBuscar:hover{
  background-color: #1d3324;
  color: #faf9f9;
  padding: 0.5%;
  border-color: black;
  border-radius: 10%;
  white-space: normal;
}

/*divis찾o da media de gols */
#mediaGols {
  display: inline-block;
  background-color: #b5b5b5;
  color: black;
  border-width: 20px;
  border-color: #16151A;
  padding: 1%;
  margin: 1px;
  border: 2px solid;
  border-radius: 20px;
  border-color: #000000;
}

/* divis찾o da media de escanteios */
#mediaEscanteios{
  display: inline-block;
  background-color: #b5b5b5;
  color: black;
  border-width: 20px;
  border-color: #16151A;
  padding: 1%;
  margin: 5px;
  border: 2px solid;
  border-radius: 20px;
  border-color: #000000;
}

/* divis찾o da media de cart천es */
#mediaCartoes{
  display: inline-block;
  background-color: #b5b5b5;
  color: black;
  border-width: 20px;
  border-color: #16151A;
  padding: 1%;
  margin: 1px;
  border: 2px solid;
  border-radius: 20px;
  border-color: #000000;
}

/*toda parte do rodape do codigo*/
.rodape{
  background-color: #16151A;
  color: #faf9f9;
}